.container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selectedNotesCounter {
  font-size: 18px;
}
