.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 100;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--mark-up);
  background-color: var(--bg-color-1);
}
