.paletteBtn {
  @include btn-reset;
  @include flex-center;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--bg-color-2);
  transition: background 0.2s ease-in-out;

  svg {
    width: 26px;
    height: 26px;
  }

  &:hover {
    background: var(--bg-color-2-hover);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;

    &:hover {
      background: var(--bg-color-2);
    }
  }
}
