.formCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
