.settingItem {
  @include btn-reset;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--mark-up);
  }

  &:hover {
    background-color: var(--bg-color-2-hover);
  }
}
