.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

// .container {
//   flex: 1;

//   &:last-child {
//     display: flex;
//     justify-content: flex-end;
//   }

//   @include mobile {
//     &:first-child {
//       flex: 0 0 auto;
//     }

//     &:nth-child(2) {
//       flex: 2;
//       padding: 10px;
//     }

//     &:last-child {
//       flex: 0 0 auto;
//     }
//   }
// }
