.squareSvgBtn {
  @include btn-reset;
  @include flex-center;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--bg-color-3);
  transition: background 0.2s ease-in-out;

  svg {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background: var(--bg-color-3-hover);
  }
}
